.bg-image {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png");
    background-size: cover;
    height: 100vh;
    position: relative;
}

.container {
    background-color: rgb(237, 245, 78);
    padding: 15px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position: absolute;
    top: 568px;
}

.container h1 {
    font-family: "Bree serif";
}

.container p {
    font-weight: 1000;
    font-family: "Roboto";
}

.btn {
    background-color: white;
    border: 2px solid transparent;
    border-radius: 10px;
    width: 140px;
    font-size: medium;
}